[Desktop Entry]
Type=Application
Name=PiliNara
Comment=A third-party Bilibili Client developed in Flutter
Comment[zh_CN]=使用 Flutter 开发的 BiliBili 第三方客户端
Exec=pilinara
Icon=pilinara
Terminal=false
StartupWMClass=com.xiro.pilinara
Categories=Video;AudioVideo;Player;
